header{
    letter-spacing: 0.6px;
    font-size: 55px;
    background-color: lightblue;
    color: #e21313;
    padding-top: 25px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 25px;
}
article{
    background: #f6f6e7;
    margin: auto;
    
}
h1{
    text-align: center;
    font-size: 60px;
    margin: 0px;
}
img{max-width:17%;
    height:auto;
    top: -10px
}
nav{text-align: end;
    font-size: 30px;
    color: red;
}
aside{
    font-size: 40px;
    text-align: center;
}